html, body {
    margin: 0;
    padding: 0;
    
}

.fondo{
    background: linear-gradient(360deg, #FFDC99 0%, rgba(255, 234, 194, 0.598958) 68.23%, rgba(255, 255, 255, 0) 100%);
}

.barra{
    background:#000;
    height: 40px;
    font-size: 30px;    
    text-align: center;   
}

.ADSLogin{
    margin-left: auto;
    margin-right: auto;  
}
.ADSleft{
    float: left;
    text-align: center;
}
.ADSderecha{
    float: right;
    text-align: center;
}
.tdEspecial{
    text-align: center;
    background-color: #00e999;
    color: white;
    padding: 5px 0;
}
.tdMensajeSecu{
    text-align: center;
}
.tdMensaje{
    text-align: center;
    background-color: #23b6f4;
    color: white;
    padding: 5px 0;
}
.imgLogin{
    text-align: center;
    padding: 10px 0;
}
.btnTacza{
    color: white;
    background-color: #00a5f5;
    padding: 2.5px 96px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
}
.hiperaTaacza{
    padding-left: 48px;
    text-decoration: none;
    color: tomato;
}
.tituloPass{
    padding-top: 10px;
    size: 1px;
}

.btncontra{
    color: white;
    padding: 2.5px 96px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    background-color: #f63a79;
}
.inpPass{
    width: 250px;
}
.tdConfirm{
    text-align: center;
    background-color: #e2574c;
    color: white;
    padding: 5px 0;
}
.btnleft{
    color: white;
    padding: 2.5px 35px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    background-color: #8bdd05;
    float: left;
}
.btnrigth{
    color: white;
    padding: 2.5px 35px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    float: right;
    background-color: #e2574c;
}
.btnhiper{
    color: white;
    padding: 2.5px 35px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    float: right;
    background-color: #e2574c;
}
.btndespacho{
    color: white;
    padding: 4px 65px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    display: block;
    margin-left: 200px;
}
.btnRegistrarUsuarios{
    color: white;
    padding: 4px 145px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    display: block;
}
.btnModificarUsuarios{
    color: white;
    padding: 4px 160px;
    border-radius: .3em;
    border: white;
    margin-top: 10px;
    display: block;
}
/*** Footer**/
footer{
    background: #111;
    height: auto;
    width: auto;    
    padding-top: auto;    
    margin-top: 249px;
    color: #fff;
}


.quitar{
    background-color: red;
    color: seashell;
}
.producto img{
    width: 100%;
    height: 120px;
    display: block;
    
}
.producto{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 3px;
    text-align: center;
    background: black;
    color: white;
    cursor: pointer;
}
.lista_productos{
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 5px;
    margin-top: 20px;
}
.producto span{
    font-size: 14px;
}
.producto:hover{
    background-color: rgb(73, 73, 73);
    border: 1px solid rgb(73, 73, 73);
}
.titulo-encabezado-simple{
    width: 100%;
    text-align: center;
    font-size: 30px;
    margin-top: 10px;
}
#datos{
    margin-top: 20px;
}
.alert-danger{
    margin-top: 60px;
}

.sec_total{
    float: right;
    display: block;
}
.btnBuscarPr{
    color: white;
    padding: 5px 20px;
    border-radius: .3em;
    border: white;
    float: right;
    display: inline;
    background-color: #f93449;
}
.btnBuscarChambi{
    color: white;
    padding: 5px 20px;
    border-radius: .3em;
    border: white;
    display: inline;
    background-color: #8bdd05;
}
.fa-user-alt{
    margin-right: 15px;
    font-size: 30px;
    color: #f93449;
}

.cancelar{
    display: inline;
}

@media print{
    .usuario, .lista,.btn,.far,.moverimpri,head,.usuario{
        display: none;
    }
    .proforma,#caja{
        width: 100%;
    }
    .caja1,#caja{
        margin-left: auto;
        margin-right: auto;
    }
    .caja1{        
        width: 40%;
        margin-bottom: 50px;
    }
    input{
        border: 0;
    }
    .sec_total{
        margin-right: 20px;
    }
    .Palacios{
        border-left: 0;
        border-right: 0;
        border-top: 0;
        border-bottom: .5;
    }
}